# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - setechnextapp

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: "ubuntu-latest"

    steps:
      - uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log in to registry
        uses: docker/login-action@v1
        with:
          registry: https://setechnextapp.azurecr.io/
          username: ${{ secrets.AzureAppService_ContainerUsername_85ee367c666d4e218bddd2083a4eaa36 }}
          password: ${{ secrets.AzureAppService_ContainerPassword_7808c8ea82f74e4aa155d12ac9847a33 }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v2
        with:
          push: true
          build-args: |
            CONTENTFUL_SPACE_ID=${{ secrets.NEXT_PUBLIC_CONTENTFUL_SPACE_ID }}
            CONTENTFUL_ACCESS_TOKEN=${{ secrets.NEXT_PUBLIC_CONTENTFUL_ACCESS_TOKEN }}
          tags: setechnextapp.azurecr.io/${{ secrets.AzureAppService_ContainerUsername_85ee367c666d4e218bddd2083a4eaa36 }}/setechnextjsapp:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: "production"
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: "setechnextapp"
          slot-name: "production"
          publish-profile: ${{ secrets.AzureAppService_PublishProfile_86120f9c31cd485086651b1c40f66580 }}
          images: "setechnextapp.azurecr.io/${{ secrets.AzureAppService_ContainerUsername_85ee367c666d4e218bddd2083a4eaa36 }}/setechnextjsapp:${{ github.sha }}"
